/* remove rounding from cards, buttons and inputs */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap');
.card, .btn, .form-control { border-radius: 0; }
@media screen and (min-width: 769px) {
    #searchBar{
        width: 20rem;
        margin-left: auto;
    }
}
@media screen and (max-width: 768px) {
    #searchBar{
        margin: auto;
    }
}
.p-2.flex-fill.flex-grow-1.bd-highlight.text-light.lead.font-weight-normal.text-uppercase{
    font-family: 'Alegreya', serif;
    letter-spacing: 1px;
    color: #7F7F7F;
}


