*{
    padding: 0;
    margin: 0;
}
body{
    color: lightslategray;
    background-color: #15181e;
}
.name{
    margin: 10px;
    color: linen;
    font-size: 30px;
    font-family: Arial;
}
nav{
    margin-bottom: 5px;

}
a{
    text-decoration: none;
    color: olivedrab;
}
hr {
    border: none;
    background-color: olivedrab;
    color: olivedrab;
    height: 2px;
}