*{
    padding: 0;
    margin: 0;
}
html{
    font-family: Arial;
}
body{
    color: lightslategray;
    background-color: #15181e;
}
.name{
    margin-left: 20px;
    margin-top: 20px;
    color: linen;
    font-size: 30px;
    font-family: Arial;
}
nav{
    position: relative; bottom: 45px; left: 80%;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: olivedrab;
}
hr {
    border: none;
    background-color: olivedrab;
    color: olivedrab;
    height: 2px;
}