@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display+SC&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Playfair Display SC', serif;
}
body{

    background-color: #122000
}