@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display+SC&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Playfair Display SC', serif;
}
<<<<<<< HEAD
.map{
    padding: 2vh;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
=======
body{

    background-color: #122
>>>>>>> fb79e78bcf3496dd81418b661c4f6402b60ddb10
}